[submodule "third_party/SQLiteCpp"]
	path = third_party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "visualizer-clients"]
	path = visualizer-clients
	url = https://github.com/dali-ml/dali-visualizer-clients.git
